.app {
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  overflow: hidden;
}

.btn {
  background: #6dc4eb;
  width: auto;
  border: 0;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 8px;
  padding: 1rem 3rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  min-width: 12rem;
}

.btn-secondary {
  background: #bbb;
}

.btn-prev {
  display: inline-block;
  background-color: #666;
  mask: url('../assets/icons/angle-left.svg') no-repeat;
  mask-size: 4rem;
  width: 4rem;
  height: 4rem;
  margin-left: -1rem;
}

.is-hidden {
  display: none !important;
}

p {
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: 500;
  color: #333;
}