.auth-failure {
  padding: 25vh 0 10vh;
  margin: auto;
  max-width: 35rem;
  text-align: center;
}

.auth-failure .failure-icon {
  background-color: #c90f1d;
  mask: url('../assets/icons/bell.svg') no-repeat;
  mask-size: 5rem;
  width: 5rem;
  height: 5rem;
  margin: 0 auto 2rem;
}

.auth-failure h3 {
  color: #c90f1d;
  font-weight: 500;
  font-size: 1.5rem;
}

.auth-failure p {
  color: #666;
  font-weight: 500;
  margin-bottom: 5rem;
}